<!DOCTYPE html>
<html lang="en">

<head>
    <title>RAFT Knowledge Base</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="../static/search_query.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.34.0.min.js" charset="utf-8"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/raft_knowledgebase.css"/>
    <script type="text/javascript" src="../static/sort_table.js"></script>

</head>

<body>
    <h1>RAFT Knowledge Base</h1>

    <p style="font-size: large">
        This knowledge base aims to inform about the underlying database of kinetics and how to access this intel. If you want to polymerize a certain monomer, choose it (or multiple with ctrl) from the dropdown list and refine your search with the available options for RAFT Agent, solvent, etc. if you like.
        If you want to achieve a specific mass, choose the one or multiple desired experiments and plot their kinetic plots by using the search bar to look for a certain molar mass-time-points.
        <a href="https://www.google.com">Link to Paper</a> and <a href="https://github.com/MichaelRingleb/sort_RAFT_table/tree/master">Link to Code repository</a>.
    </p>

    <form action="" method="POST">
      Monomers: <select name="monomer" id="monomer" multiple size="8">
        <option value="" selected="selected">any</option>
    </select>

      RAFT-agents: <select name="raft_agent" id="raft_agent" multiple size="8">
        <option value="" selected="selected">any</option>
    </select>

      Solvents: <select name="solvent" id="solvent" multiple size="8">
        <option value="" selected="selected">any</option>
    </select>

    <input type="submit" value="Search">
    </form>
    <div class="prior search" id="prior_search" style="color:darkgray">
        Prior search: {{ prior_search }}
    </div>
    <br>
    <div class="results" id="results" >
         &#x2195 Sort by column when clicking on the header.
    {{ dataframe | safe }}
    </div>
    <br>
    <label for="search"></label><input type="text" id="search" placeholder="e.g. 69, 137" autocomplete="experiment_search">
    <button onclick="plot_exp()">Search</button>
    <div>
        <input type="checkbox" id="mn" name="plot options" value="mn" />
        <label for="mn">Plot Mn</label>

        <input type="checkbox" id="mw" name="plot options" value="mw" />
        <label for="mw">Plot Mw</label>
        ||
        <input type="checkbox" id="fit_curve" name="plot options" value="fit_curve" />
        <label for="fit_curve">Fit curve to conversion</label>
        <input type="checkbox" id="fit_derivat_curve" name="plot options" value="fit_derivat_curve" />
        <label for="fit_derivat_curve">Fit derivative of fit</label>
    </div>

    <div class="results" id="results_div" ></div>
</body>