<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Impressum</title>
</head>
<body>
  <h1>Impressum</h1>

  <h2>Angaben gemäß § 5 TMG</h2>
  <p>
Laboratory of Organic and Macromolecular Chemisty<br>
(IOMC, Lehrstuhl II/Schubert)<br>
Friedrich Schiller Universität Jena<br>
Humboltstraße 10 (office 317)<br>
07743 Jena, Germany
  </p>

  <h2>Kontakt</h2>
  <p>
    Telefon: +49(0) 3641 9482 479<br>
    E-mail: <span id="email"></span>
  </p>

<script>
  const user = "yannik.koester";
  const domain = "uni-jena.de";
  document.getElementById("email").textContent = user + "\"at\"" + domain;
</script>
  <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
  <p>
    Y. Köster<br>
    Humboltstraße 10 (office 317)<br>
    07743 Jena, Germany
  </p>

  <h2>EU-Streitschlichtung</h2>
  <p>
    Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
    <a href="https://ec.europa.eu/consumers/odr" target="_blank">https://ec.europa.eu/consumers/odr</a>.
  </p>

  <h2>Haftungsausschluss</h2>
  <p>
    Inhalte und Links werden sorgfältig geprüft, dennoch übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt verlinkter Seiten sind ausschließlich deren Betreiber verantwortlich.
  </p>
</body>
</html>
